button {
    border: .5px solid blue;
    flex: 1 1 0px;
    margin: 3px;
    height: 20px;
    width: 20px;
}

.calc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#input {
    text-align: right;
}

#equals {
    height: 100px;
    margin: 5px
}

#clear {
    width: 100px;
}

#zero {
    margin-left: 33px;
    margin-right: 33px;
}


